/*
// Title        : Basic CSS file  
// Purpose      : Implement basic css file to be an external css

// DATE         CONTRIBUTOR ID      COMMENT
//---------     --------------      ------------------------------------------------------------------------------------
// 20200314      SHPRLK              Created the file 
//---------------------------------------------------------------------------------------------------------------------- 
*/

body {
    background-color : #1b262c;
    color: #bbe1fa;
}

h1 {
    color: #3282b8;
}

h2, h3 {
    color: #3282b8;
}

h4, h5, h6 {
    color: #bbe1fa;
}

hr {
    border-color: #bbe1fa;                
    border-style    : none;
    border-top-style:  dotted;
    border-width: 5px;              
    width  : 10% ;
    background-color: #0f4c75;
}