/*
// Title        : Basic CSS file  
// Purpose      : Implement basic css file to be an external css

// DATE         CONTRIBUTOR ID      COMMENT
//---------     --------------      ------------------------------------------------------------------------------------
// 20200314      SHPRLK              Created the file 
//---------------------------------------------------------------------------------------------------------------------- 
*/

/*-------------------------- Element selectors------------------------------ */

h1 {
    color: blue;
    font-size:  40px;
    }

body {color:black;}

img:hover {background-color:  black;}

/*-------------------------- Class selectors---------------------------------- */

.bacon {
    background-color:  gold;
}

.broccoli {
    background-color: blue;    
}

.circular {
    border-radius: 100%;
}

/*-------------------------- ID selectors-------------------------------------- */

#heading {
    color: gold;
}