/*
// Title        : Artistic CSS file  
// Purpose      : Implement basic css file to be an external css

// DATE         CONTRIBUTOR ID      COMMENT
//---------     --------------      ------------------------------------------------------------------------------------
// 20200319      SHPRLK              Created the file 
// 20200319      SHPRLK              Modified the file to have the borders extended to the edge
// 20200321      SHPRLK              Modified files to continue the tutorial based on the copied html code
// 20200328      SHPRLK              Added more adjustment touches
//---------------------------------------------------------------------------------------------------------------------- 
*/

/*-------------------------- Element selectors------------------------------ */

body {
    color: #0f4c75;
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px; */
    margin: 0px;            /*margin property can simply override all the individual properties which are commented above*/ 
    text-align: center; 
    position: relative;
    font-family: 'Lateef', cursive;
}

a{
    color: gray;
}

h1 {
    color: #bbe1fa;
    font-size: 5.625rem;
    font-family: 'Berkshire Swash', cursive;
    margin: 1rem auto 0 auto;
    padding-top: 4rem;
    line-height: 2;
}

h2 {
    color: #3282b8;
    font-size: 2.5rem;
    font-family: 'Itim', cursive;
    margin: 1rem;
    font-weight: normal;
}

h3 {
    color: #286c99;
    font-family: 'Itim', cursive;    
    width: 20%;
    margin: auto;    
}

p {
    font-family: 'Lateef', cursive;
    font-size: 1.5rem;   
    text-align: left; 
}



/*-------------------------- Class selectors---------------------------------- */

.top-container {
    background-color: #1b262c;
    position: relative;
    height: 750px;
    padding-top: 100px;
}

.middle-container {
    background-color: #1b262c;
    padding-bottom: 2rem;
}

.bottom-conainter {
    background-color: #3282b8;
}

.cloud-image {
    height: 15%;
    width: 15%;
}

.mountain-image {
    width: 100%;
    height : 50%;
    left: 0;
    bottom: 0%;
    position: absolute;
}

.top-cloud {
    position: absolute;
    right: 15%;
}

.bottom-cloud{
    position: absolute;
    left: 10%;
}


.skill-row {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

.skill-icon {
    float: left;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.center-align {    
    text-align: center;
}

.btn {
   background: #3D94F6;
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

/*-------------------------- ID selectors---------------------------------- */

#profile-img {
    margin-top: 3rem;
    height: 300px;
    width: 200px;
}



/*--------------------------- All available fonts---------------------------
font-family: 'Mr Dafoe', cursive;
font-family: 'Itim', cursive;
font-family: 'Lateef', cursive;
font-family: 'Berkshire Swash', cursive;
*/